:root {
    --font-family: "Open Sans", sans-serif;
    --ballet-font: "Ballet", cursive;
    --font-color: #243533;
    --title-color: #692721;

    --padding: 16px;

    --ico-w: 40px;
    --ico-h: 40px;

    --navBar-bg: #692721;
    --navBar-h: 60px;

    --btn-bg: #964734;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

p { margin: 0;}

/* icons */
i {
    width: var(--ico-w);
    height: var(--ico-h);
    display: block;
    background-size: var(--ico-w);
}
.ico-burger { background-image: url(/img/ico-menu.png); }
.ico-close { background-image: url(/img/ico-close.png);}

/* section title */
h1 {
    margin: 0;
    font-family: var(--ballet-font);
    color: var(--title-color);
    font-size: 80px;
    font-weight: 400;
}

/* hero image */
.hero-container {
    height: 100vh;
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    
/* navbar */
.navbar {
    padding-inline: var(--padding);
    background-color: var(--navBar-bg);
    height: var(--navBar-h);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

     /* estado inicial */
    opacity:0;
    transform:translateY(-20px);
    pointer-events:none;

    transition:
        opacity .35s ease,
        transform .35s ease;
    }
    /* cuando aparece */
    .navbar.visible{
        opacity:1;
        transform:translateY(0);
        pointer-events:auto;
    }
    .navbar .pannel {
        position: fixed;
        top: 0px;
        background-color: #fff;
        right: 0px;
        transform: translateX(100%);
        transition: transform .14s ease;
        width: calc(100% - 12px);
        height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: var(--padding);
        }
        .pannel.open { transform: translateX(0); }
        .pannel header {
            display: flex;
            justify-content: flex-end;
            padding-right: var(--padding);
        }
        .pannel ul {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            font-size: 24px;
            }
            .menu-item.active {
                color: var(--title-color);
            }
/* link buttons */
.btn-container {
    display: flex;
    justify-content: center;
    }
    .btn {
        background-color: var(--btn-bg);
        padding-inline: var(--padding);
        height: 48px;
        border-radius: 4px;
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        }
        
/* sections */
.container { 
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100vh;
}
.title {
    align-self: center;
    margin-top: 24px;
}

.img-container img {
    width: 100%;
    height: 100%;
    display: block;
}
.info-container {
    padding-inline: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 24px;
    }
    .info-content {
        display: flex;
        flex-direction: column;
        }
        .info-content.right { 
            align-self: end;
            text-align: right;
        }
        .info-title {
            color: var(--title-color);
            font-size: 28px;
        }
        .info-description {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }

