:root {
    --font-family: "Open Sans", sans-serif;
    --ballet-font: "Ballet", cursive;
    --font-color: #243533;
    --title-color: #692721;

    --padding: 16px;

    --ico-w: 32px;
    --ico-h: 32px;

    --navBar-bg: #692721;
    --navBar-h: 60px;

    --btn-bg: #964734;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;

    background-color: #F7F4EF;
}

p { margin: 0;}

/* icons */
i {
    width: var(--ico-w);
    height: var(--ico-h);
    display: block;
    background-size: var(--ico-w);

    background-repeat: no-repeat;
    background-position: center;
}
.ico-burger { background-image: url(/img/ico-menu.png); }
.ico-close { background-image: url(/img/ico-close.png);}
.ico-play { background-image: url(/img/ico-play.png);}
.ico-pause { background-image: url(/img/ico-pause.png);}

.ico-where { background-image: url(/img/icons/reloj.png);}
.ico-when { background-image: url(/img/icons/donde.png);}
.ico-bus { background-image: url(/img/icons/transporte.png);}
.ico-home { background-image: url(/img/icons/casa.png);}
.ico-agenda { background-image: url(/img/icons/agenda.png);}

/* section title */
h1 {
    margin: 0;
    font-family: var(--ballet-font);
    color: var(--title-color);
    font-size: 80px;
    font-weight: 400;
}

/* hero image */
.hero-container {
    height: 100vh;
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 120px;
    
    color: #fff;
    font-family: var(--ballet-font);

    position: relative;
    }
    .hero-names {
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
        font-size: 88px;
        z-index: 100;

        padding-inline: 16px;
        }
        .hero-names span:first-child {
            align-self: flex-start;
        }
        .hero-names span:nth-child(2) {
            font-size: 42px;
        }
        .hero-names span:nth-child(3) {
            align-self: flex-end;
        }
    .hero-data {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 66px;
        z-index: 100;
    }
    .hero-container:before {
        content: '';
        position: absolute;
        top: 0;
        background-color: #0000001c;
        width: 100%;
        height: 100%;
    }
    
/* navbar */
.navbar {
    padding-inline: var(--padding);
    background-color: var(--navBar-bg);
    height: var(--navBar-h);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

     /* estado inicial */
    opacity:0;
    transform:translateY(-20px);
    pointer-events:none;

    z-index: 100;

    transition:
        opacity .35s ease,
        transform .35s ease;
    }
    
    /* cuando aparece */
    .navbar.visible{
        opacity:1;
        transform:translateY(0);
        pointer-events:auto;
    }
    .navbar .pannel {
        position: fixed;
        top: 0px;
        background-color: #fff;
        right: 0px;
        transform: translateX(100%);
        transition: transform .14s ease;
        width: calc(100% - 12px);
        height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: var(--padding);
        }
        .pannel.open { transform: translateX(0); }
        .pannel header {
            display: flex;
            justify-content: flex-end;
            padding-right: var(--padding);
        }
        .pannel ul {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            font-size: 24px;
            }
            .menu-item.active {
                color: var(--title-color);
            }
/* link buttons */
.btn-container {
    display: flex;
    justify-content: center;
    }
    .btn {
        background-color: var(--btn-bg);
        padding-inline: var(--padding);
        height: 48px;
        border-radius: 4px;
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 140px;    
        font-size: 18px;
        font-weight: 600;   
        }
        
/* sections */
.container { 
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100vh;

    margin-bottom: 34px;
    }
    
.title {
    align-self: center;
    margin-top: 24px;
}

.img-container img {
    width: 100%;
    height: 100%;
    display: block;
}
.info-container {
    padding-inline: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 16px;

    flex: 1;
    height: 100%;
    }
    .info-text {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .info-content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        position: relative;
        padding-bottom: 12px;
        }
        .info-content.right { 
            align-self: end;
            text-align: right;
            padding-bottom: 0;
            padding-top: 12px;
        }
        .info-title {
            color: var(--title-color);
            font-size: 28px;

            display: flex;
            flex-direction: row;
            gap: 12px;
            }
            .right .info-title {
                justify-content: flex-end;
            }
        .info-description, 
        .description {
            display: flex;
            flex-direction: column;

            color: #243533;
            font-size: 16px;
        }
        .description {
            text-align: center;
        }
/* Fix section Te apuntas */
#formulario .btn-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

.bank-count {
    color: #243533;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    }
    .bank-count p {
        font-weight: 600;
    }
/* separador */
.spacer {
    background-color: #692721;
    height: 1px;
    width: 25%;
    align-self: center;
}

    

